* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
  padding: 0;
	min-height: 100%;
}

body {
	background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	background-repeat: no-repeat;
	height: 100vh;
	font-family: Kumbh Sans;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 7rem;
}

.card {
	background: white;
	width: 85%;
	min-height: 31.25rem;
	border-radius: 1rem;
	box-shadow: 0 0 0.3125rem black;
	position: relative;
}

.image_woman {
	display: flex;
	justify-content: center;
}

.image_woman img {
	width: 16.75rem;
	height: 12.5rem;
	margin-right: 20px;
	margin-top: -110px;
}

.text h1 {
	color: hsl(237, 12%, 16%);
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
}

.text h4 {
	font-weight: 400;
	color: hsl(240, 6%, 40%);
	font-size: 0.9rem;
	margin-right: 1px;
}

ul {
	padding-left: 20px;
	list-style: none;
}

.question {
	display: flex;
}

h4 img {
	width: 13px;
	height: 7px;
	margin-top: 23px;
	margin-left: 10px;
}

h4 hr {
	border-top: 0px solid;
}